<div id="message-box">
  <%= for message <- @messages do %>
    <%= case message do %>
      <% {:url, url} -> %>
        <div class="message">
          <img src=<%= url %> alt="Image">
        </div>
      <% {:text, text} -> %>
        <p><%= text %></p>
    <% end %>
  <% end %>
</div>

<form id="message-form">
  <textarea id="message"></textarea>
  <button type="submit">Send</button>
</div>
